[Unit]
Description=OpenStack Identity Service
After=syslog.target network.target

[Service]
Type=notify
EnvironmentFile=/etc/keystone/service-keystone-public-uwsgi.env
ExecStart=/opt/keystone/bin/uwsgi --socket ${UWSGI_SOCKET} --master --home /opt/keystone --wsgi-file /opt/keystone/bin/keystone-wsgi-public --processes ${UWSGI_PROCESSES} --threads ${UWSGI_THREADS}
ExecStop=/bin/kill -WINCH ${MAINPID}
User=root
Restart=always
KillSignal=SIGQUIT
StandardError=syslog

[Install]
WantedBy=multi-user.target
