[Unit]
Description=OpenStack Network Service
After=syslog.target network.target

[Service]
Environment="PATH=/usr/local/bin:/usr/bin:/sbin:/usr/local/sbin:/usr/sbin:/opt/neutron/bin"
Type=simple
ExecStart=/opt/neutron/bin/neutron-linuxbridge-agent \
          --config-file=/etc/neutron/neutron.conf \
          --config-file=/etc/neutron/plugins/ml2/ml2_conf.ini \
          --config-file=/etc/neutron/plugins/ml2/linuxbridge_agent.ini \
          --log-file=/var/log/neutron/linuxbridge-agent.log
ExecStop=/bin/kill -WINCH ${MAINPID}
User=root
Restart=always
KillSignal=SIGQUIT
StandardError=syslog

[Install]
WantedBy=multi-user.target
