[Unit]
Description=OpenStack Network Service
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/opt/neutron/bin/neutron-dhcp-agent \
          --config-file=/etc/neutron/neutron.conf \
          --config-file=/etc/neutron/plugins/ml2/ml2_conf.ini \
          --config-file=/etc/neutron/dhcp_agent.ini \
          --log-file=/var/log/neutron/dhcp-agent.log
ExecStop=/bin/kill -WINCH ${MAINPID}
User=root
Restart=always
KillSignal=SIGQUIT
StandardError=syslog

[Install]
WantedBy=multi-user.target
